---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: false
redirect_from:
  - /wordpress/blog-posts/
---
{% include base_path %}

<div class="euro-grid">
  {% for post in site.posts %}
    <article class="euro-item">
      <a href="{{ post.url | prepend: base_path }}" class="euro-item__link">
        <h2 class="euro-item__title">{{ post.title }}</h2>
        <div class="euro-item__meta">
          <time>{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
      </a>
    </article>
  {% endfor %}
</div>